<div class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <button class=" m-3 btn btn-small btn-warning m-2" [routerLink]="['/']"
                routerLinkActive="router-link-active">Go Back</button>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="card p-4 m-3 img-box" *ngIf="photoData" style="width: 70%;">
                    <img class="card" src="{{photoData.full_picture}}" alt="Card image cap">
            
                    <h5 class="mt-3 top-title">Author: {{photoData.author}}</h5><br>
                    <h5 class="mt-3 top-camera">Camera: {{photoData.camera}}</h5>
                    <h6 class="mt-3 top-tags">Tags: {{photoData.tags}}</h6>
                    <button type="button" class="btn btn-sm btn-warning top-button">Share</button>
                </div>
            </div>
        </div>
    </div>
</div>