
.img-box{
    position: relative;
    color: white;
    
    .top-title{
        position: absolute;
        bottom: 187px;
        left: 42px;
    }

    .top-camera{
        position: absolute;
        bottom: 137px;
        left: 42px;
    }

    .top-tags{
        position: absolute;
        bottom: 87px;
        left: 42px;
    }
}

